.workspace-img {
    border:1px solid #ccc;
    /*width:100%;*/
    height:120px;
    margin-bottom:10px;
    border-radius:4px;
    background-color:white;
    padding:4px 16px;
}

#com-chilipeppr-workspace-tinyg #com-chilipeppr-ws-gcode-hdr {
    height: 176px;
}

#com-chilipeppr-ws-gcode-hdr .btn {
    margin-bottom:5px;
}